@media (max-width: 767px) {
    .top {
        background-image: url(./img/jpg/Mob_01.01_Rectangle.jpg);
        height: 735px;
        display: flex;
        align-content: center;
        justify-content: center;
        &__content {
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &--h1 {
                width: 345px;
                height: 80px;
                font-size: 32px;
                line-height: 39px;
            }
            &--p {
                margin-top: 0;
                width: 345px;
                font-size: 14px;
                line-height: 22px;
            }
            &--knopka {
                margin-top: 0;
            }
        }
    }

    .games {
        height: 1220px;
        gap: 32px;
        display: flex;
        align-content: center;
    }

    .season {
        padding: 0 16px;
        height: 655px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 64px;
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
            &__heading {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                color: #FFFFFF;
            }
            &__text {
                padding: 0 24px;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                color: #FFFFFF;
            }
            &__knopka {
                margin-bottom: 0px;
            }
        }
        &__image {
            width: 354px;
            height: 256px;
            background-image: url(./img/png/Mob_03.01_Seasonsimage.png);
        }
    }
}
